
 button {
  display: block;
  padding: 12px 18px;
  border: 1px solid #4A37E7;
  background-color: #4A37E7;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
}

.pink {
  padding: 12px 18px;
  border: 1px solid #E7377C;
  background: #E7377C;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
}
